body {
    margin: 0;
    background-color: #79A7D1;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 100%;
    position:fixed;
    top: 0;
    padding: 15px 0px;
  
    }
    
    
.navbar a {
        text-decoration: none;
        color: black;
        font-weight: regular;
        font-size: 18px;
    }